/* this section for normalizing type code -- follows normalize.css */
form * {
	background: none;
}

/* below is a clearfix to make child element stay within parent container after float "clearing" */
 
.group:before, .group:after {
	content: "\0020"; /* space */
	diplay: inline-block;
	height: 0;
	overflow: hidden;
}

.group:after {
	clear: both;
}

/* below makes HTML 'layout' in IE<9 browsers to recalc floated child objects in cleared container  */
.group {
	zoom: 1;
}

input[type=text],input[type=password],input[type=submit], textarea, button{
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background: transparent;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 5px;
	margin: 0;
	margin-bottom: 10px;
	color: #555555;
}

/* end of normalizing code */

body {
	height: 900px;
	background: rgba()#42826C;
	background: #42826C -webkit-linear-gradient(#002F32,#42826C) no-repeat;
	background: #42826C -moz-linear-gradient(#002F32,#42826C) no-repeat;
	background: #42826C -o-linear-gradient(#002F32,#42826C) no-repeat;
	background: #42826C -ms-linear-gradient(#002F32,#42826C) no-repeat;
	background: #42826C linear-gradient(#002F32,#42826C) no-repeat;
	filter:
	  progid:DXImageTransformm.Microsoft.gradient( startColorstr='#002F32', 
	     endColorstr='#42836C',GradientType=0 );
}

.hideIt{
	display: none;
}

#wrapper{
	width: 90%;
	margin: 1% auto;
}

nav.topNavBar ol li{
	display: inline;
	text-decoration:none;
	color: #F1F1F1;
	list-style:none;
}

nav.topNavBar ol li a {
	text-decoration:none;
	color:white;
	cursor:pointer;
	cursor:hand;
}

nav.topNavBar ol li a:hover {
	text-decoration:none;
	color:orange;
}

#filmID{
	display:none;
}

header{
	background-color: rgba(200, 200, 200, 200);
	color: teal;
}

h1, h2{
	margin: 0;
	padding: 12px 20px;
}

h1 {
	padding-bottom: 0;
	font-size: 36px;
}

h2{
	padding-top: 0;
	font-size: 18px;
	padding-left: 23px;
	color: rgb(205, 228, 225);
}

footer{
	background: url("picture.png") no-repeat 0 0 #434343;
	color: white;
	clear:both;	
}


article{
	/* 2/25 want review & review image across page 
	width: 70%; */
}

#castInfo{
	width: 30%;
	float: right;
}

input[type=text],input[type=password],input[type=submit], textarea {
	border: 1px solid #47816A;
	background: #FFF;
	/* was: width: 250px; */
	width: 90%;
	float: right;
}

/* this was in the Lynda.com code for CSS3 form for the login button */
button {
	float: right;
	color: #5522FF;
	padding: 5px 10px;
	background: #E52E32;
	clear: both;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

input[type=text]:focus,input[type=password]:focus{
	background: #DDD;
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

form fieldset ul li label, form fieldset ul li input {
	float: left;
}

form fieldset {
	top: 10px;
	background: #F9C35F;
	background: url('./includes/pattern.png'), -webkit-linear-gradient(#F9C35F, #A5C775) no-repeat;
	background: url('./includes/pattern.png'), -moz-linear-gradient(#F9C35F, #A5C775) no-repeat;
	background: url('./includes/pattern.png'), -o-linear-gradient(#F9C35F, #A5C775) no-repeat;
	background: url('./includes/pattern.png'), -ms-linear-gradient(#F9C35F, #A5C775) no-repeat;
	background: url('./includes/pattern.png'), linear-gradient(#F9C35F, #A5C775) no-repeat;
	
	/* could put 'filter' for old Microsoft gradient here: filter: progid:DXImageTransform...*/
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: inset 0px 1px 1px
	  rgba(255,255,255, 1), 0px 10px 15px
	  rgba(0,0,0,.5);
	-moz-box-shadow: inset 0px 1px 1px
	  rgba(255,255,255, 1), 0px 10px 15px
	  rgba(0,0,0,.5);
	box-shadow: inset 0px 1px 1px
	  rgba(255,255,255, 1), 0px 10px 15px
	  rgba(0,0,0,.5);
}

fieldset {
	border: none;
	float:left;
	background: rgb(237, 228, 214);
	width: 63%;
	padding: 10px;
	margin-bottom: 5px;
	-webkit-border-radius: 0 .5em .5em 0;
	-moz-border-radius: 0 .5em .5em 0;
	border-radius: 0 .5em .5em 0;
}

fieldset.review {
	width: 100%;
	clear:both;
}

form fieldset ol li {
	float: left;
}

legend {
	display: none;
}

fieldset:before{
	content:attr(title);
	display: block;
	font: 1.2em Cantarell, Arial, Helvetica, sans-serif;
	font-weight:bold;
	border-bottom: 1px solid rgb(76, 67, 65);
}

ol li ol {
	padding: 5px;
	float: left;
	margin-left: 5px;
}

ol li ol li {
	display: inline;
}

ol li ol li label {
	padding: 0;
	display: inline;
	float: none;
	font-weight: normal;
}

form ol li label, ol li .grouplabel {
	font: bold 14px "Lucida Grande", Lucida, Verdana, sans-serif;
	padding: 5px;
	color: #315848;
	display: block;
	width: 90px;
	float: left;
	text-align: right;
	text-shadow: 0 1px 0px #FFF;
}

form.group {
	background: #AAAAAA;
	border: 2px;
	border-color: #DDDDDD;
}

.fullRow{
	width: 99%;
	margin: 0 auto;
}

#filmTitle{
	width:60%;
}
